.TodoForm {
    
}

.FormText {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
}

.Submit {
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(7, 74, 89);
    color: white;
}